.popup__container {
  margin: 0 auto;
  margin-top: calc(var(--popup_top)*1px);
  width: calc((var(--profiledit_popup_width) + (var(--profiledit_close_gap) + var(--profiledit_close_side))*2)*1px);
  display: inherit;
  flex-direction: inherit;
  justify-content: flex-start;
  align-items: center;
  gap: calc(var(--profiledit_close_gap)*1px);
}

@media screen and (max-width: 562px) {
  .popup__container {
    max-width: calc(var(--profiledit_popup_width)*1px);
  }
}