.cousteau__image {
  margin-top: calc(var(--cousteau_img_altop)*1px);
  margin-left: calc((var(--cousteau_img_aleft) + (max(var(--cousteau_img_width), var(--cousteau_img_height)) - min(var(--cousteau_img_width), var(--cousteau_img_height)))/2)*1px);
  margin-right: calc((max(var(--cousteau_img_width), var(--cousteau_img_height)) - min(var(--cousteau_img_width), var(--cousteau_img_height)))/2*1px);
  max-width: calc(min(var(--cousteau_img_width), var(--cousteau_img_height))*1px);
  max-height: calc(min(var(--cousteau_img_width), var(--cousteau_img_height))*1px);
  border-radius: var(--cousteau_radius);
  aspect-ratio: var(--cousteau_aspect);
  object-fit: cover;
  justify-self: center;
  align-self: center;
}                                                                                                                                                                                          /* border-color:blueviolet; border-style: dashed; */

@media screen and (max-width: 768px) {
  .cousteau__image {
    margin-left: calc((var(--default_section_left) - var(--cousteau_left))*1px);
  }
}

@media screen and (max-width: 320px) {
  .cousteau__image {
    margin-left: calc(var(--cousteau_img_align)*1px);
  }
}