.cousteau__image {
  max-width: calc(var(--cousteau_img_width)*1px);
  max-height: calc(var(--cousteau_img_height)*1px);
  border-radius: var(--cousteau_radius);
  aspect-ratio: var(--cousteau_aspect);
  object-fit: cover;
  justify-self: center;
  align-self: center;
}                                                                                                                                                                                          /* border-color:blueviolet; border-style: dashed; */

@media screen and (max-width: 768px) {
  .cousteau__image {
    margin-left: calc((var(--default_section_left) - var(--cousteau_left))*1px);
  }
}