.table__icon {
  margin-right: calc(var(--table_caption_right)*1px);
  max-width: calc(var(--table_icon_width)*1px);
  max-height: calc(var(--table_icon_height)*1px);
  justify-self: right;
}                                                                                                                                                                                            /* outline: 1px dashed darkgreen; */
/*
.table__link:hover {
  opacity: 0.8;
}*/