.popup__close {
  width: calc(var(--profiledit_close_side)*1px);
  height: calc(var(--profiledit_close_side)*1px);
  align-self: flex-end;
  background-color: rgba(0, 0, 0, 0);
  background-image: var(--profiledit_close_button);
  aspect-ratio: var(--profiledit_close_aspect);
  background-position: center;
  border: none;
  cursor: pointer;
}