.table__area-icon {
  grid-area: icon;
  color: var(--default_back_color);
  background-color: var(--default_color);
}                                                                                                                                                                                                /* outline: 1px solid red; */