.profiledit {
  margin: 0 auto;
  max-width: calc((var(--profiledit_popup_width) + (var(--profiledit_close_gap) + var(--profiledit_close_side))*2)*1px);
  height: calc((var(--profiledit_popup_height) + var(--profiledit_close_gap) + var(--profiledit_close_side))*1px);
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 562px) {
  .profiledit {
    margin-top: calc(var(--profiledit_close_gap)*1px);
    max-width: calc(var(--profiledit_popup_width)*1px);
  }
}